# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

mdFiles/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
build
.env

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.vercel


AGENTS.md

# ==========================================
# Android build artifacts & Binary Junk
# ==========================================
android/app/build/
android/.gradle/
android/app/.cxx/
android/*.iml
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
local.properties

# Stop tracking the huge APKs/AABs we just built
android/app/build/outputs/apk/*
android/app/build/outputs/bundle/*

# Block those Windows reserved names just in case
NUL
CON
PRN
AUX